<h1 class="text-primary">Iniciar sesi칩n</h1>

<form action="/login" method="POST">
  <div class="mb-3">
    <label for="email" class="form-label">Email</label>
    <input value="{{user.email}}" type="email" class="form-control {{#if errorsMessage}}is-invalid{{/if}}" id="email" name="email" aria-describedby="emailHelp" required>
    <div class="invalid-feedback">
      {{errorsMessage}}
    </div>
  </div>
  <div class="mb-3">
    <label for="password" class="form-label">Contrase침a</label>
    <input type="password" class="form-control {{#if errorsMessage}}is-invalid{{/if}}" id="password" name="password" required>
  </div>
  <button type="submit" class="btn btn-primary">Inica sesi칩n</button>
  <a href="/login/google" class="btn btn-outline-primary">Iniciar sesi칩n con Google</a>
</form>